body{    
}

#headbody{background-image: url('cake.jpg');background-repeat: no-repeat;
    background-size: cover;background-position: center;
}


#header{width:100%;border:1px solid black;float:left;}
#content{height:500px;width:100%;border:1px solid black;float:left;

    background-image: url('cake.jpg');background-repeat: no-repeat;
    background-size: cover;background-position: center;

}
#about{height:800px;width:100%;border:1px solid black;float:left}

#abc:hover{ background-color: aqua;  }

.img{height: 320px;width:100%;}
#service{height:800px;width:100%;border:1px solid black;float:left}
#footer{height:300px;width:100%;border:1px solid black;float:left}


