{% extends 'base.html' %}
{% load  static %}
{% block content %}

<div id="content">
<p1>
welcome to Shalom best cakes 
</p1>
</div>





<div id="about">

<div class="container py-5 my-5">
  <section class="p-md-3 mx-md-5 text-center text-lg-left">
    <h2 class="text-center font-weight-bold mb-4 pb-1">Our Team</h2>
    <p class="text-center lead mb-5 pb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img  class="img"
              src="{% static 'images/download.jpg' %}"
              class="img-fluid"
            />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">elvis N.</p>
            <p class="text-muted">Creative Director</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img class="img"
              src="{% static './images/download1.jpg' %}" 
              class="img-fluid"
            />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">Egide T.</p>
            <p class="text-muted">Frontend Developer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img  class="img"
              src="{% static 'images/pic.jpg' %}"
              class="img-fluid"
            />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">Guy danick M</p>
            <p class="text-muted">Backend Developer</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</div>


<div id="service"><br/>
<h2 style="text-align:center"> our services</h2>

</div>


<div id="footer">
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
 
  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5 pl-5" style="align:center"  >
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright guydanick.com . all reserved
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
{% endblock %}









